:root {
    --main: rgba(225, 51, 51,0.7);
    --background: #1b1b1b;
    --text: #ffffff;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    margin-left:15px;
    margin-right:15px;
}
h1, h2, h3, h4, h5, h6, p, label, button, input{
    margin:0;
    color:var(--text);
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
}
h3{
    font-weight:100;
    font-size:1.3rem;
    margin-bottom:1rem;
}
label{
    text-wrap: nowrap;
    font-size:1.1rem;
}
select{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size:1rem;
    font-weight: 100;
    border:none;
    background: transparent;
    color:white;
}

.noBorder{
    border:none;
}
.backgroundWhite{
    background:white;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--background);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.largerText{
    font-size: 1.4rem;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
textarea:focus, input:focus, select:focus{
    outline: none;
}
input::placeholder {
    color: var(--text);
    opacity: 0.5; /* Firefox */
  }
  
input::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--text);
  }

input{
    text-align: center;
    background: none;
    border: none;
    caret-color: var(--text);
    font-size:1.2rem;
}
.gap{
    gap: 5px;
}
.width95{
    width:95%;
}
.removeBorder{
    border-color: transparent;
}
.roundedEdges{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.flexRow{
    position:relative;
    display:flex;
    flex-direction:row;
}
.flexColumn{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.columnMobileRowDesktop{
    display:flex;
    flex-direction:column;
}
.container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.reallyTall{
    position:relative;
    height:800px;
}
.absolute{
    position:absolute;
}
.backgroundMain{
    background:var(--main);
}
.setHeight{
    height:50px !important;
}
.gapLarger{
    gap:20px;
}
.marginBottom{
    margin-bottom:1rem;
}
.borderBottom{
    padding:10px;
    border:1px solid white;
    border-left:5px solid white;
}
.item{
    align-self: flex-start;
    position: relative;
    padding:20px 5px 20px 5px;
    width:100%;
    height:auto;
}
.gapLarger{
    gap:23px;
}
.sideBars{
    font-size:1.3rem;
    font-weight: 100;
    margin:-5px -5px -6px -5px;
}
.individualTrackerContainer{
    overflow:hidden;
    border:1px solid var(--text);
    width:10rem;
}
.individualStatContainer{
    width:10rem;
    border: 1px solid var(--text);
    overflow:hidden;
}
.individualStatContainer:hover{
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.individualTrackerContainer:hover{
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.statInput{
    width:2rem;
}
.statLabel{
    margin:5px 5px 0px 5px;
    padding:2px;
    width:auto;
    text-align: center;
    color:var(--background);
}
.statListContainer{
    margin-right:5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}
.addButton{
    margin-top:20px;
    background:transparent;
    color:var(--text);
    border:1px solid var(--text);
    border-radius:50px;
    height:50px;
    width:50px;
}
.alignLeft{
    align-self: start;
    text-align:start;
}
.textAlignLeft{
    text-align: start;
}
.addButton:hover{
    cursor:pointer;
    box-shadow: inset 0 0 10px var(--main);
    background:var(--text);
    color: var(--main);
}
.skillBonusNumber{
    text-align: center;
    margin-right: -.5rem;
    font-size:1.2rem;
}
#TOTAL{
    text-align: center;
    font-size:1.3rem;
}
.skillName{
    border:none;
}
.damageDice{
    margin:0;
    width:1rem;
}
.border{
    border:1px solid white;
    padding:5px;
}
.inputSmaller{
    width:2rem !important;
}
.fillWidth{
    width:90% !important;
}
@media screen and (min-width: 1000px) {
    .inputMedium{
        width:16rem;
    }
    .individualTrackerContainer{
        width:12rem;
    }
    .container{
        margin-right:5px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .stretchAcross{
        grid-column: 1 / -1;
    }
    .stretchDown{
        grid-row-start:4;
        grid-row-end:6;
    }
    .holder{
        align-self: flex-start;
        width:100%;
        height: 50px;
    }
    .item{
        width:auto;
        height: auto;
    }
    .heightIncrease{
        height: 100px;
    }
    .columnMobileRowDesktop{
        flex-direction:row;
    }
    .statListContainer{
        display:flex;
        flex-direction:row;
        column-width: auto;
        gap:10px;
    }
    .individualStatContainer{
        width:4rem;
    }
    .statLabel{
        width:auto;
        text-align: center;
    }
    .reallyTall{
        height:750px;
    }
}